.mainCardDiv {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.1),  /* Soft shadow for depth */
    0 8px 16px rgba(0, 0, 0, 0.2); /* Sharp shadow cutting the sides */
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 90vw;
  flex-wrap: wrap;
  background-color: white;
}
