.mainDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}
.bookCard {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  /* background:linear-gradient(90deg,#ff9a9e 0%,#fad0c4 55%,#fad0c4 100%); */
  /* background:linear-gradient(135deg,#f6d365 0%,#fda085 100%); */
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 50%, #fddb92 100%);
  /* background-image: linear-gradient(
    97.24deg,
    #8320ff 3.22%,
    #1168eb 49.19%,
    #71eaff 97.11%
  ); */
  /* background: linear-gradient(
    150.24deg,
    rgba(131, 32, 255, 0.2) 3.22%,
    rgba(17, 104, 235, 0.2) 49.19%,
    rgba(113, 234, 255, 0.2) 97.11%
  ); */
  /* background:linear-gradient(135deg,#fbfbfb 0%,#fbedee 50%,#accbee 100%); */
  /* background:linear-gradient(45deg,#d4fc79 0%,#96e6a1 50%,#84fab0 100%); */
  /* background:linear-gradient(90deg,#ff9a9e 0%,#fad0c4 55%,#fad0c4 100%); */
  /* background:linear-gradient(135deg,#a1c4fd 0%,#c2e9fb 40%,#f5e1f4 100%); */
  border-radius: 7%;
  box-shadow: 0 14px 16px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 10rem;
  max-width: 8rem;
  height: 15rem;
}
.bookCard:hover {
  transform: scale(1.05); /* Increase size slightly */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.truncate {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

/* .truncate:hover {
  overflow: visible;       
  white-space: normal;     
  background-color: #f0f0f0; 
  position: relative;     
  z-index: 1;             
} */
