.mainDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Space between cards */
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
}

.bookCard {
  display: flex;
  flex-direction: column;
  background: white; /* Clear white background */
  border: 1px solid #e0e0e0; /* Subtle border for definition */
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 100px; /* Set a min width for larger screens */
  max-width: 300px; /* Adjust max width for larger screens */
  height: auto; /* Allow height to adjust based on content */
  text-align: center; /* Center align text */
  justify-content: center;
  align-items: center;
}

.bookCard:hover {
  transform: translateY(-5px); /* Lift effect on hover */
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.truncate {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Label styles */
.label {
  font-family: 'Arial', sans-serif; /* Change to a clean font */
  font-weight: 600; /* Bold for emphasis */
  margin: 0.2rem 0; /* Add margin for spacing */
  font-size: small;
}

.title {
  color: #333; /* Dark gray for title */
}

.rating {
  color: #ff9800; /* Orange for rating */
}

.price {
  color: #d32f2f; /* Red for price */
  font-size: 1.1rem; /* Slightly larger font for price */
}

.author {
  color: #1976d2; /* Blue for author */
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Button color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: small;
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.bookDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

img {
  max-width: 100%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
 
}
.buttonGroup{
display: flex;
justify-content: space-between;
align-items: center;
gap:1rem
}
